<section class="abstract">
  <article><%= render_markdown('intro') %></article>
  <article><%= render_markdown('projects') %></article>
</section>

<section class="concrete">
  <article><%= render_markdown('toc') %></article>
</section>
